* {
	font-family: sans-serif;
}

#heading-title {
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	font-size: 20px;

}


body {
	background: linear-gradient(rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.2)50%), url(background.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

label, p {
	color: rgba(255, 255, 255, 0.7);

}

.Form {
	width: 290px;
	height: 380px;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 40px 25px;
}

#confirmButton {
	color: white;
	font-size: 15px;
	background-color: rgba(99, 224, 255, 0.6);
	border: rgba(167, 22, 240, 0.8);
	margin-top: 20px;
	margin-left: 90px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#confirmButton:hover {
	background-color: rgba(0, 0, 0, 0.3);
  	color: white;
}

textarea {
	width: 283px;
	height: 141px;
	resize: none;
}

#copyButton {
	background-color: rgba(99, 224, 255, 0.8);
  	color: white;
  	padding: 10px 15px;
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
  	margin-top: 20px;
  	font-weight: bold; 
  	transition: background-color 0.3s ease;
}

#copyButton:hover{
	background-color: rgba(0, 0, 0, 0.2);
  	color: white;
}

