* {
  font-family: sans-serif;
}

button {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border: none;
  border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;

}


.split-screen {
  display: flex;
  width: 100vw; 
  height: 100vh;  
}

.left-side, .right-side {
  position: relative;
  flex: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.7s;
  overflow: hidden;
}

.left-side::before,
.right-side::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-side {
  background: url('img/windows.jpg') center/cover no-repeat;
  height: 100%;
  position: relative;
}

.right-side {
  background: url('img/macos.jpg') center/cover no-repeat;
  height: 100%;
  position: relative;
}

.view-button {
  padding: 10px 20px;
  cursor: pointer;
}
